@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("../Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("../Libre_Baskerville/LibreBaskerville-Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../Libre_Baskerville/LibreBaskerville-Regular.ttf")
    format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  word-break: keep-all;
}
html,
body {
  font-family: "LibreBaskerville-Bold", "LibreBaskerville-Italic",
    "LibreBaskerville-Regular", "Noto Sans KR", sans-serif;
}

html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
