@font-face {
  font-family: LibreBaskerville;
  src: url(../Libre_Baskerville/LibreBaskerville-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: NotoSans;
  src: url(../Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

.footer {
  padding: 1rem;
  color: white !important;
  background-color: #000;
  margin-top: auto;
  height: 300px;
  width: 100%;
}

.links {
  padding: 0;
  color: #c4c4c4;
  list-style: none;
  font-size: 32px;
  text-align: start;
}
.customer-service {
  text-decoration: none;
  color: white !important;
}
.terms {
  text-decoration: none;
  color: white !important;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 16px;
}
.privacy {
  text-decoration: none;
  color: white !important;
  font-size: 16px;
}
.about {
  text-decoration: none;
  color: white !important;
  display: flex;
  width: 150px;
}

.customer-service:hover,
.about:hover {
  color: #ccc7bb;
}

.links > * {
  display: inline;
  line-height: 1.64;
}

.links > :not(:last-child) {
  margin-right: 30px;
}

.info {
  padding: 0;
  list-style: none;
  text-align: left;
  color: white !important;
}

.info > * {
  display: inline-block;
  line-height: 1.64;
  color: white !important;
}

.info > :not(:last-child) {
  margin-right: 30px;
}

.footer-img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.hidden-infos {
  margin-left: 10px;
  text-align: left;
  color: white !important;
}
.hidden-info-li {
  color: white !important;
}

.footerspan {
  text-align: center;
  width: 50%;
  color: white !important;
}

@media (min-width: 1236px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .terms {
    margin-left: 0;
    font-size: 16px;
  }

  .privacy {
    font-size: 16px;
  }
}
