@font-face {
  font-family: LibreBaskerville;
  src: url(../Libre_Baskerville/LibreBaskerville-Regular.ttf) format("truetype");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: NotoSans;
  src: url(../Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf) format("truetype");
  font-weight: normal;
  font-size: normal;
}

:root {
  --main1-color: #ff9b50;
  --main2-color: #ffc26f;
  --background-color: #f8ebd8;
  --text-color: #1c1b1f;
  --serve-color1: #666;
  --serve-color2: #d9d9d9;
  --serve-color3: #f9f9f9;
  --serve-color4: #fff;
  --serve-color5: #000;
}

a,
a:hover,
a:active,
a:visited,
li,
p,
h3 {
  color: var(--text-color);
  font-family: NotoSans;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 16px;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.context h3 {
  font-size: 2.5rem;
  font-family: LibreBaskerville;
  margin: 0;
}

.PointShop {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.PointShop-arrow-l,
.PointShop-arrow-r {
  width: 50px;
  height: 50px;

  background-color: inherit;
  border: none;
}

.PointShop-in {
  width: 90%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 0 100px;
  gap: 20px;
}

.PointShop-item {
  width: 450px;
  height: 350px;

  flex: 0 0 auto;
  width: 20%;
}

.PointShop-item img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.PointShop-item-title {
  margin-bottom: 3px;
}

.PointShop-item-won {
  color: var(--main1-color);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.StyleLink-PointShop {
  height: 100px;
  width: 200px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url("../assets/icon/button round_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:hover {
    background-image: url("../assets/icon/button round_hover.png");
    font-weight: bold;
  }
}

.Inner-PointShop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: LibreBaskerville;
  &:hover {
    font-family: LibreBaskerville;
    font-weight: bold;
  }
}
