.bottom-buttons {
  text-align: center;
}

.MessageToUserButton {
  cursor: pointer;
  outline: none;
  border: 1px solid #ffc26f;
  color: #ffc26f;
  background-color: transparent;
  padding: 10px 20px;
  width: 140px;
  margin-bottom: 32px;
}

.button-wrap img.hover-image {
  display: none;
  width: 25px;
  height: 25px;
  margin-right: -2px;
  margin-top: -3px;
}

.MessageToUserButton:hover {
  background-color: #ff9b50;
  color: #fff;
}
