@font-face {
  font-family: LibreBaskerville;
  src: url(../Libre_Baskerville/LibreBaskerville-Regular.ttf) format("truetype");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: NotoSans;
  src: url(../Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf) format("truetype");
  font-weight: normal;
  font-size: normal;
}

nav {
  background-color: #f8ebd8;
  padding: 16px;
  font-family: LibreBaskerville;
}
.nav-link:hover {
  font-family: LibreBaskerville !important;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  text-decoration: none;
  color: #1c1b1f;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
}

.logo-img {
  width: 150px;
  height: 100%;
}

@media (max-width: 988px) {
  .nav-link {
    font-size: 12px;
  }
}
