:root {
  --mainColor: #ff9b50;
  --subColor:#ffc26f;
  --backgroundColor:#f8ebd8
  --fontColor:#1c1b1f
}

.Rating-star {
  color: #d9d9d9;
  cursor: pointer;
}

.Rating-star.selected {
  color: var(--mainColor);
}
