.infoBox {
  width: 80%;
  min-height: 60vh;
  margin: 0 auto;
}

.container2 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem 0;
  gap: 8px;
}

.label {
  font-weight: 600;
  width: 100px;
  margin-left: 2rem;
}

.input {
  border: none;
  outline: none;
  background-color: #f8ebd8;
}

.container2:nth-child(4) > .input {
  width: 200px;
}

.scroll-locked {
  overflow: hidden;
}
