* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.true {
  color: green;
}

.false {
  color: red;
}

input {
  width: 54%;
  padding: 8px;
  margin: 8px;
  /* border-radius: 8px; */
  /* border: 50%; */
  outline: none;
  border: 1px solid #d9d9d9;
  box-shadow: none;
}

input::placeholder {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.7);
}

#password,
#passwordConfirm {
  width: 70%;
}

.mail {
  width: 20%;
}

.member-btn {
  width: 100px;
  background-color: #1c1b1f;
  color: #fff;
  outline: none;
  border: none;
}

label {
  font-weight: bold;
  margin: 8px;
}

select {
  width: 20%;
  padding: 8px;
  margin: 8px;
}

.headWrapper > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.headWrapper-sum {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 16px;
}

h3 > .sign-num {
  width: 40px;
  height: 40px;
  background-color: #ffc26f;
  text-align: center;
  border-radius: 50%;
  line-height: 2.3;
}

h3 > .now {
  background-color: #ff9b50;
}

.submitBtn {
  width: 20%;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2,
h3 {
  text-align: center;
  margin: 8px;
}

.form {
  border-top: 1px solid #ff9b50;
  padding: 16px;
  width: 100%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}

th {
  text-align: left;
  width: 20%;
  padding: 16px;
}

td {
  width: 70%;
  padding: 16px;
}

.choicePartner {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.welcome {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ff9b50;
}

.welcome-top {
  font-size: 20px;
  margin: 30px 0;
  padding: 16px;
}

.welcome-md {
  margin: 20px 0;
  font-size: 14px;
}

.welcome-btn {
  margin: 20px;
}
