@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  background-color: #212212;
  color: #fff;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

/* 헤더 시작 */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  padding: 16px;
  transition: all 0.1s linear;
  backdrop-filter: blur(5px);
}

.navigation.active {
  background-color: #f2c301;
  width: 100%;
  color: #212212;
  z-index: 300;
  padding: 6px 16px;
  border-radius: 0 0 20px 20px;
}

.navigation.active a {
  color: #212212;
}

.deactive {
  background-color: transparent;
}

.site {
  z-index: 1000;
}

.site_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  padding-right: 16px;
  border-right: 1px solid gray;
}

.site_name > span {
  font-weight: 700;
  font-size: 32px;
}

.site_name > small {
  font-size: 16px;
}

.site_logo {
  /* 로고 결정시 아래 background-image삭제 */
  width: 35px;
  height: 35px;
  filter: invert(99%) sepia(21%) saturate(0%) hue-rotate(304deg)
    brightness(106%) contrast(100%);
}

.site_logo.active {
  filter: invert(7%) sepia(9%) saturate(3276%) hue-rotate(25deg) brightness(97%)
    contrast(87%);
}

.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.item {
  font-size: 18px;
  font-weight: 600;
}

.gnb {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 119px;
  background-color: inherit;
  padding-top: 16px;
  margin-left: 16px;
}

.gnb a {
  color: #fff;
}

.gnb.active a {
  color: #212212;
}

.nav_left .gnb {
  height: 100%;
}

.gmain {
  position: relative;
}

.gmain > a {
  height: 100%;
}

.gmain:hover .gsub {
  display: block;
}

.gsub {
  position: absolute;
  background-color: white;
  width: 120px;
  text-align: center;
  padding: 8px 10px;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
  display: none;
  top: 25px;
  right: -16%;
  z-index: 100;
}

.gmain:nth-child(2) .gsub {
  left: -60%;
}

.gsub a {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 3px 8px;
  color: #212212;
}

.gsub a:hover {
  background-color: #f2c301;
  color: #212212;
  font-weight: 700;
}

.gsub li:last-of-type a {
  border-bottom: none;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  gap: 8px;
}

.log-out {
  background-color: transparent;
  border: none;
  color: #fff;
}

.navigation.active .log-out {
  color: #221212;
}

.hamburger-button {
  position: relative;
  transition: 0.3s ease-in-out;
  width: 45px;
  height: 34px;
  display: none;
  cursor: pointer;
}
.hamburger-button span {
  position: absolute;
  height: 8px;
  border-radius: 4px;
  width: 100%;
  background: #fff;
  top: 0;
  transition: 0.2s;
}

.navigation.active .hamburger-button span {
  background-color: #212212;
}

.hamburger-button.active {
  background-color: transparent;
}

.hamburger-button span:nth-child(1) {
  top: 0;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
  top: 13px;
}

.hamburger-button span:nth-child(4) {
  top: 26px;
}

.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

/* 헤더 종료 */
/* 메인 시작 */
main{
  margin-top: 91px;
 }
 
.container {
   color: black;
 }

.title {
 margin-top: 200px;
 width: 100%;
 height: 100%;
 background-color: #f2c301;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 30px;
}

.title h1 {
 font-weight: 700;
}

.main-body {
 margin-top: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #ccc;
}

.main-body h2 {
 margin: 50px;
 width: 90%;
 padding: 20px;
 background-color: #f2c201fd;
}

.main-title {
 font-size: 50px;
 font-weight: 700;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.main-box1 {
 padding: 20px;
 width: 100%;
 height: 100%;
}

.main-box1 p {
 padding: 30px;
 font-size: 30px;
 font-weight: 700;
 background-color: #d4c37d;
}

.main-box2 {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 margin-bottom:50px ;
}

.main-box2 h1{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #f2c201fd;
 width: 80%;
 height: 80px;
 font-size: 30px;
 font-weight: 700;
 margin: 30px;
}

.box2-table {
  width: 80%;
  margin: 20px;
}

.box2-title {
 font-size: 30px;
 font-weight: 700;
}

.box2-title2 {
  font-size: 30px;
  font-weight: 700;
}

.box2-tag {
  width: 200px;
  font-size: 30px;
  font-weight: 700;
 }
 
.box2-tag2 {
  width: 200px;
}

td {
  text-align: center;
}

.main-box2 td {
 border: 1px solid black;
 background-color: #d4c37d;
 height: 35px;
 font-weight: 500;
}

.main-box2 h3 {
  margin: 30px;
  font-weight: 700;
  font-size: 40px;
}

.box2-sub {
  padding: 30px 100px;
  border: 3px solid black;
  font-weight: 700;
}

.a {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  background-color: #d4c37d;
  box-shadow: 5px 5px;
  margin: 20px;
}

.b {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  background-color: #d4c37d;
  box-shadow: 5px 5px 5px;
  margin: 20px;
}
.c {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  background-color: #d4c37d;
  box-shadow: 5px 5px 5px 5px;
  margin: 20px;
}
.d {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  background-color: #d4c37d;
  box-shadow: 5px 5px 5px 5px gray;
  margin: 20px;
}
.e {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  background-color: #d4c37d;
  box-shadow: 5px 5px 5px 5px gray inset;
  margin: 20px;
}

.solid {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px solid; 
  margin: 20px;
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}

.double { 
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px double;
  margin: 20px; 
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}

.groove{ 
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px groove; 
  margin: 20px;
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}
.ridge{ 
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px ridge; 
  margin: 20px;
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}
.inset { 
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px inset; 
  margin: 20px;
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}
.outset{ 
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px outset; 
  margin: 20px;
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}
.dashed{ 
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px; border-style:dashed; 
  margin: 20px;
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}
.dotted{ 
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:5px; border-style:dotted; 
  margin: 20px;
  width: 800px;
  height: 60px;
  background-color: #d4c37d;
}

.table-tr {
  font-size: 30px;
  width: 80%;
}

.table-tr-small {
  font-size: 25px;
  width: 80%;
}

.table-tr-center {
  font-size: 30px;
  width: 50%;
}
/* 메인 종료 */

/* footer 시작 */
footer {
  width: 100vw;
}

.footer_wrap {
  width: 100%;
  height: 20%;
  margin-top: 100px;
  background-color: #f2c301;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 24px 8px;
  border-bottom: 2px solid gray;
  color: #212212;
}

.logo {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.inquiry {
  padding: 16px 24px;
  background-color: #4b4b4b;
  font-weight: 700;
  font-size: 24px;
  border-radius: 16px;
  cursor: pointer;
}

.inquiry a {
  color: #fff !important;
}

.footer_bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 32px 24px 40px;
  color: #212212;
  gap: 15px;
}

.footer_bottom a {
  color: #212212;
}

.site_address {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.5;
}

/* footer 종료 */

@media screen and (max-width: 1024px) {
  /* 헤더 시작 */
  .navigation {
    backdrop-filter: none;
  }

  .gnb {
    position: fixed;
    right: -100%;
    top: 0;
    background-color: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
    transition: all 0.3s linear;
  }

  .gnb.vh {
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1503252947848-7338d3f92f31?q=80&w=1031&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1.8);
    z-index: 500;
    padding: 0;
  }

  .gnb.vh a {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
  }

  .gnb.vh body {
    overflow: hidden;
  }

  .gnb.vh .gsub {
    display: none;
  }

  .navigation {
    justify-content: space-between;
  }

  .navigation.active .hamburger-button span {
    background-color: #212212;
  }

  .navigation.active .hamburger-button.active span {
    background-color: #fff;
  }

  .hamburger-button {
    display: inline-block;
    z-index: 600;
  }

  .account {
    position: fixed;
    right: -100%;
    display: flex;
    gap: 8px;
    width: 95%;
    padding: 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 500;
  }
  .account.active {
    left: 3%;
    top: 20%;
    align-items: center;
    background-color: transparent;
  }

  .account.active a {
    color: #fff;
    padding: 1rem 3rem;
    border: 3px solid #fff;
    border-radius: 45%;
    font-weight: 700;
  }

  .log-out {
    color: #fff;
    padding: 1rem 3rem;
    border: 3px solid #fff;
    border-radius: 45%;
    font-weight: 700;
  }

  /* 헤더 종료 */
  /* 메인 시작 */
  .sub_content {
    flex-direction: column;
  }
  /* 메인 종료 */

  .bottom_address address {
    display: flex;
    flex-direction: column;
  }
}
