.side {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.menu {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffc26f;
  font-size: 18px;
}

.sideMenus {
  margin: 1rem 0;
}

.sideMenus > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sideMenus > a:hover,
.sideMenus > a:active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.post {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postMenus {
  margin: 0.3rem 0;
  font-size: 13px;
}

.postMenus > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  /* display: none; */
}

.postMenus:hover,
.postMenus:active {
  font-weight: bold;
  border-bottom: 2px solid #000;
  display: block;
}

.accordionItemStyle 
.opened {
  .contents {
    display: block;
  }
}
.closed {
  .contents {
    display: none;
  }
}

/* ///////////// */
/* .sidebar-sub2{  
  color: rgb(0, 0, 0);
  display: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;  
}

.sidebar-sub2 :hover ,
.sidebar-sub2 :active  {  
  font-weight: bold;
  display: block;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-item {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sidebar-item:hover,
.sidebar-item:active {
  font-weight: bold;
  border-bottom: 2px solid #000;
} */
