.shopingbody{
  display: grid;
  row-gap: 0.5rem;
  grid-template-rows: 1.5fr 2fr 1fr;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* padding-bottom: 20px; */
}

.Shopbox {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
}

.shopImg {
  width: 190px;
  height: 130px;
  background-color: #d9d9d9;
  overflow: hidden;
  /* padding: 10px; */
  margin: 3px;
}

.shopItem {
}

.shopPrice {
  color: #ff9b50;
  font-weight:700 ;
}

/* ////////////// */

.infoBox {
  width: 100%;
  display: grid;
  padding: 0.5rem 0;
  border-top: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem 0;

}

.label {
  font-weight: 600;
  margin-left: 3rem;
}

.input {
  border: 1px solid #d9d9d9;
  outline: none;
  background-color: #fff;
  padding: 0.5rem 0.5rem; 
  color: #d9d9d9;
  width: 100%;
}

.choice {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select2 {
  border: 1px solid #d9d9d9;
  outline: none;
  background-color: #fff;
  padding: 0.5rem 0.3rem;
  color: #000;
  width: 100%;
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  padding: 1rem 0;
  /* align-items: center; */
  /* border-bottom: 1px solid #d9d9d9; */
}

.choice2 {
  display: grid;
  gap: 8px;
}

